{% extends 'base.html.twig' %}
{% block body %}
    <div id="mySidebar" class="sidebar" >
        <a href="index.php?route=adminPostList">Articles</a>
        <a href="index.php?route=adminPostcomments">Commentaires</a>
        <a href="index.php?route=adminPostUsers">Utilisateurs</a>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
    </div>
    <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776;</button>
        <div class="container">
                <h1>Gérer les commentaires</h1>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Auteur</th>
                        <th>Mis à jour le</th>
                        <th>Contenu</th>
                        <th>Actions</th>
                    </thead>
                    {% for comment in comments %}
                        <td>{{ comment.username }}</td>
                        <td>{{ comment.modifiedOn|date('d/m/Y') }} à {{ comment.modifiedOn|date('H:m:s') }}</td>
                        <td>{{ comment.content }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="index.php?route=editComment&id={{ comment.id }}" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Modifier</a>
                                <a href="index.php?route=deleteComment&id={{ comment.id }}"
                                   onclick="return confirm('Voulez-vous effacer le commentaire n°{{ comment.id }} ?')"
                                   class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
{% endblock %}