{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="nav flex-column mb-2" >
                <li><a href="index.php?route=adminPostList">Articles</a></li>
                <li><a href="index.php?route=adminPostcomments">Commentaires</a></li>
                <li><a href="index.php?route=adminPostUsers">Utilisateurs</a></li>
            </ul>
        </div>
    </div>
        <div class="container">
            <h1>Gérer les utilisateurs</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Utilisateur</th>
                            <th>Role</th>
                            <th>Actions</th>
                    </thead>
                    {% for user in users %}
                        <td>{{ user.username }}</td>
                        <td>{{ user.role }}</td>
                        <td>
                            <a href="index.php?route=editUser&id={{ user.id }}" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Modifier</a>
                            <a href="index.php?route=deleteUser&id={{ user.id }}"
                               onclick="return confirm('Voulez-vous effacer l\'utilisateur n°{{ user.username }} ?')"
                               class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Supprimer</a>
                        </td>
                        </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}