{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="col-md-10 blogShort">
        <h1>{{ post.title }}</h1>
        <article><p>{{ post.content }}</p></article>

        <strong><p class="text-right">{{ post.author  }}</p></strong>
    {% if session is empty %}
        <a class="nav-link" href="index.php?route=login">Se connecter</a> ou <a class="nav-link" href="index.php?route=signUp">S'inscrire </a>
    pour commenter
    <hr>
    {% endif %}
        <section class="gradient-custom">
            <div class="container my-5 py-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-10 col-xl-8">
                        <div class="card">
                            <div class="card-body p-4">
                                <h4 class="text-center mb-4 pb-2">Commentaires</h4>
                                {% for comment in comments %}
                                <div class="row">
                                    <div class="col">
                                        <div class="d-flex flex-start">
                                            <img
                                                    class="rounded-circle shadow-1-strong me-3"
                                                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg"
                                                    alt="avatar"
                                                    width="65"
                                                    height="65"
                                            />
                                            <div class="flex-grow-1 flex-shrink-1">
                                                <div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="mb-1">
                                                            {{ comment.username }} <span class="small">-{{ comment.createdAt|date('H:i:s d/m-Y') }}</span>
                                                        </p>
                                                        <a href="#!"
                                                        ><i class="fas fa-reply fa-xs"></i><span class="small"> reply</span></a>
                                                    </div>
                                                    <p class="small mb-0">
                                                        {{ comment.content }}
                                                    </p>
                                                </div>
                                                {% endfor %}

                                                <div class="d-flex flex-start mt-4">
                                                    <a class="me-3" href="#">
                                                        <img
                                                                class="rounded-circle shadow-1-strong"
                                                                src="https://mdbootstrap.com/img/Photos/Avatars/img%20(11).jpg"
                                                                alt="avatar"
                                                                width="65"
                                                                height="65"
                                                        />
                                                    </a>

                                                    <div class="flex-grow-1 flex-shrink-1">
                                                        <div>
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <p class="mb-1">
                                                                    Simona Disa <span class="small">- 3 hours ago</span>
                                                                </p>
                                                            </div>
                                                            <p class="small mb-0">
                                                                letters, as opposed to using 'Content here, content here',
                                                                making it look like readable English.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="d-flex flex-start mt-4">
                                                    <a class="me-3" href="#">
                                                        <img
                                                                class="rounded-circle shadow-1-strong"
                                                                src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg"
                                                                alt="avatar"
                                                                width="65"
                                                                height="65"
                                                        />
                                                    </a>
                                                    <div class="flex-grow-1 flex-shrink-1">
                                                        <div>
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <p class="mb-1">
                                                                    John Smith <span class="small">- 4 hours ago</span>
                                                                </p>
                                                            </div>
                                                            <p class="small mb-0">
                                                                the majority have suffered alteration in some form, by
                                                                injected humour, or randomised words.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-start mt-4">
                                            <img
                                                    class="rounded-circle shadow-1-strong me-3"
                                                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20(12).jpg"
                                                    alt="avatar"
                                                    width="65"
                                                    height="65"
                                            />
                                            <div class="flex-grow-1 flex-shrink-1">
                                                <div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="mb-1">
                                                            Natalie Smith <span class="small">- 2 hours ago</span>
                                                        </p>
                                                        <a href="#!"
                                                        ><i class="fas fa-reply fa-xs"></i
                                                            ><span class="small"> reply</span></a
                                                        >
                                                    </div>
                                                    <p class="small mb-0">
                                                        The standard chunk of Lorem Ipsum used since the 1500s is
                                                        reproduced below for those interested. Sections 1.10.32 and
                                                        1.10.33.
                                                    </p>
                                                </div>

                                                <div class="d-flex flex-start mt-4">
                                                    <a class="me-3" href="#">
                                                        <img
                                                                class="rounded-circle shadow-1-strong"
                                                                src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
                                                                alt="avatar"
                                                                width="65"
                                                                height="65"
                                                        />
                                                    </a>
                                                    <div class="flex-grow-1 flex-shrink-1">
                                                        <div>
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <p class="mb-1">
                                                                    Lisa Cudrow <span class="small">- 4 hours ago</span>
                                                                </p>
                                                            </div>
                                                            <p class="small mb-0">
                                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                                                                scelerisque ante sollicitudin commodo. Cras purus odio,
                                                                vestibulum in vulputate at, tempus viverra turpis.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>
        </div>
    {% if session is not empty %}

    <form action="index.php?route=addComment&post&id={{ post.id }}" method="post">
        <div class="form-group">
            <textarea class="form-control" name="content" id="content" rows="3" placeholder="Contenu du commentaire"></textarea>
        </div>
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Publier</button>
        </div><br>
        <hr>
        <a href="index.php?route=posts" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">précedent</a>
    </form>
    {% endif %}
{% endblock %}
